    * {
        box-sizing: border-box;
    }
    
    #navbar {
        overflow: hidden;
        float: left;
        display: block;
        width: 100%;
        height: 50px;
        top: 0px;
        position: absolute;
        z-index: 999;
        background-color: #000;
        opacity: 0.8;
        text-align: center;
    }
    
    .navbarLinks {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 23pt;
        text-align: center;
    }
    
    .titleFront {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        text-shadow: 4px 2px 2px #000;
    }
    
    .welcome {
        font-family: 'Alata', sans-serif;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        text-shadow: 2px 1px 1px #000;
        font-size: 15pt;
    }
    
    .sectionTitle,
    .sectionTitle2,
    .sectionTitle3 {
        position: absolute;
        top: 10%;
        left: 49.5%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .sectionTitle2 {
        color: rgba(255, 255, 255, 0.733);
    }
    
    .sectionTitle3 {
        color: black;
    }
    
    .card1,
    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
        margin: auto !important;
        text-align: center !important;
        padding: 0px !important;
        text-align: center !important;
        background-color: rgba(56, 56, 56, 0.452) !important;
    }
    
    .card {
        width: 300px;
    }
    
    .title {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .studied {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 11.5pt;
    }
    
    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    
    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    
    button:hover,
    a:hover {
        opacity: 0.7;
    }
    
    .column {
        float: left;
        width: 50%;
        padding: 0 10px;
    }
    
    .row {
        margin: 0 -5px;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .section1 {
        background-image: url(assets/bak.jpeg);
        background-size: cover;
        filter: blur(3px);
    }
    
    .section2 {
        background-image: url(assets/bak2.jpg);
        background-size: cover;
    }
    
    .section3 {
        background-image: url(assets/bak3.jpg);
        background-size: cover;
    }
    
    .section4 {
        background-image: url(assets/bak4.jpg);
        background-size: cover;
    }
    
    .section5 {
        background-image: url(assets/mainLogo.jpg);
        background-size: cover;
    }
    
    @media screen and (max-width: 1280px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
    
    #carlosCard,
    #leoCard {
        font-size: 30pt !important;
        color: black !important;
        font-family: 'Montserrat', sans-serif;
    }
    
    .fa-gitlab,
    .fa-twitter,
    .fa-linkedin-in,
    .fa-github {
        color: black;
    }
    
    .aboutUsP {
        font-size: 14pt;
        color: black;
        font-family: 'Alata', sans-serif;
    }
    
    i {
        font-size: 3rem;
        letter-spacing: 10pt;
    }
    
    .deviconDiv {
        text-align: center;
        padding: 0%;
        margin-top: -40px;
        margin-bottom: 10px;
    }
    
    #aboutus1 {
        position: relative;
        top: 0rem;
        left: -100rem;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
    
    #aboutus2 {
        position: relative;
        top: 0rem;
        left: -150rem;
        transition: all 1.3s ease-out;
        -webkit-transition: all 1.3s ease-out;
    }
    
    .fp-viewing-page2 #aboutus1,
    .fp-viewing-page2 #aboutus2 {
        left: -9rem;
    }
    
    #kanban {
        width: 30%;
        position: relative;
        left: -100rem;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
    
    .wipP {
        position: relative;
        vertical-align: middle;
        text-align: left;
        font-size: 20pt;
        font-family: 'Alata', sans-serif;
        color: slategray;
        left: -100rem;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
    
    .fp-viewing-page4 #kanban {
        left: -10rem;
    }
    
    .fp-viewing-page4 .wipP {
        left: -10rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    
    .grid-item {
        padding: 20px;
        margin: 5rem;
        font-size: 30px;
        text-align: center;
    }
    
    #roboImg {
        width: 3.5rem;
    }
    
    .popupCrono,
    .popupLucca {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 30rem;
        height: 20rem;
        font-family: verdana;
        font-size: 13px;
        background-color: rgb(240, 240, 240);
        border: 2px solid grey;
        z-index: 100000000000000000;
    }
    
    .cancel {
        display: relative;
        cursor: pointer;
        margin: 0;
        float: right;
        height: 10px;
        width: 14px;
        padding: 0 0 5px 0;
        background-color: red;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        color: white;
        border-radius: 3px;
        z-index: 100000000000000000;
    }
    
    .cancel:hover {
        background: rgb(255, 50, 50);
    }
    
    .fa-bars {
        color: white;
    }
    /**/
    
    .navigation {
        float: left;
        display: block;
        top: 0px;
        position: fixed;
        z-index: 999;
        background-color: #000;
        opacity: 0.8;
        height: 50px;
        top: 0px;
        text-align: center;
        width: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 23pt;
    }
    
    .nav-container {
        width: 100%;
        margin: 0 auto;
    }
    
    nav {
        float: right;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        float: left;
        position: relative;
    }
    
    nav ul li a,
    nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 50px;
        background-color: #000;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
    }
    
    nav ul li a:hover,
    nav ul li a:visited:hover {
        background: #4b5569;
        opacity: 0.8;
        color: #ffffff;
    }
    
    nav ul li a:not(:only-child):after,
    nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: " ▾";
    }
    
    nav ul li ul li {
        min-width: 190px;
    }
    
    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
    }
    
    .nav-dropdown {
        position: absolute;
        display: none;
        z-index: 1000;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    /* Mobile navigation */
    
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        opacity: 0.8;
        height: 60px;
        width: 70px;
        top: -10px;
    }
    
    @media only screen and (max-width: 1280px) {
        .nav-mobile {
            display: block;
        }
        nav {
            width: 100%;
            padding: 50px 0 15px;
        }
        nav ul {
            display: none;
        }
        nav ul li {
            float: none;
        }
        nav ul li a {
            padding: 15px;
            line-height: 20px;
        }
        nav ul li ul li a {
            padding-left: 30px;
        }
        .nav-dropdown {
            position: static;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .nav-list {
            display: block !important;
        }
    }
    
    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }
    
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
    }
    
    #nav-toggle span:before {
        top: -10px;
    }
    
    #nav-toggle span:after {
        bottom: -10px;
    }
    
    #nav-toggle.active span {
        background-color: transparent;
    }
    
    #nav-toggle.active span:before,
    #nav-toggle.active span:after {
        top: 0;
    }
    
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
    
    article {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }